$white-color: #ffffff;
$orange-color: #ff6b01;
$orange-second-color: #ff6b08;
$black-color: #000000;
$footer-text-color: #545454;
$footer-background-color: #f7f7f7;
$modal-name-color: #8c8c8c;
$red-color: #ff001b;
$timingFunction: cubic-bezier(0.075, 0.82, 0.165, 1);
