<!-- The Modal -->
<div id="myModal" class="modalgroup">
  <div class="modal-content">
    <div class="group-all">
      <div class="group-card">
        <img src="img/group-vera.jpg" alt="Vera" class="group-image" />
        <p class="group-name">Vera</p>
        <p class="group-role">TEAM LEAD</p>
      </div>
      <div class="group-card">
        <img src="img/group-alexei.jpg" alt="Alexei" class="group-image" />
        <p class="group-name">Alexei</p>
        <p class="group-role">DEVELOPER</p>
      </div>
      <div class="group-card">
        <img src="img/group-eugenia.jpg" alt="Eugenia" class="group-image" />
        <p class="group-name">Eugenia</p>
        <p class="group-role">DEVELOPER</p>
      </div>
      <div class="group-card">
        <img src="img/group-andrei.jpg" alt="Andrei" class="group-image" />
        <p class="group-name">Andrei</p>
        <p class="group-role">DEVELOPER</p>
      </div>
      <div class="group-card">
        <img src="img/group-denis.jpg" alt="Denis" class="group-image" />
        <p class="group-name">Denis</p>
        <p class="group-role">SCRUM MASTER</p>
      </div>
      <div class="group-card">
        <img src="img/group-yulija.jpg" alt="Yulija" class="group-image" />
        <p class="group-name">Yuliya</p>
        <p class="group-role">DEVELOPER</p>
      </div>
      <div class="group-card">
        <img src="img/group-valentina.jpg" alt="Valentina" class="group-image" />
        <p class="group-name">Valentina</p>
        <p class="group-role">DEVELOPER</p>
      </div>
      <span class="close">&times;</span>
    </div>
  </div>
</div>
