<header id="header" class="header">
  <div class="container">
    <div class="header__menu__container">
      <a class="logo__link link" href="./index.html">
        <svg class="logo__svg svg" width="24" height="24">
          <use href="./img/svg/sprite.svg#icon-film"></use>
        </svg>
        <h1 class="logo">Film finder</h1>
      </a>
      <nav class="header__nav">
        <ul class="header__nav__menu ul">
          <li class="header__nav__list list">
            <a id="home-btn" class="header__nav__link nav__btn link" href="#">home</a>
          </li>
          <li class="header__nav__list list">
            <a id="library-btn" class="header__nav__link nav__btn link" href="#">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="input__container" class="input__container">
      <div class="input__wraper">
        <input id="user-input" class="user__input" placeholder="Search movie" autocomplete="off" />
        <svg class="search__svg svg" width="12" height="12">
          <use href="./img/svg/sprite.svg#icon-search"></use>
        </svg>
      </div>
    </div>
    <div id="library__container" class="library__container">
      <ul class="library__menu ul">
        <li class="library__menu__list list">
          <a id="watched" class="library__btn watched" href="#">Watched</a>
        </li>
        <li class="library__menu__list list">
          <a id="queue" class="library__btn queue" href="#">queue</a>
        </li>
      </ul>
    </div>
  </div>
</header>
