<div class="pagination-container">
    <button class="pagination-button arrow-left">
    </button>
    <button class="pagination-button first-button">1</button>
    <span class="dots" id="previous">...</span>
    <button class="pagination-button pagination-select" data-id="1">1</button>
    <button class="pagination-button" data-id="2">2</button>
    <button class="pagination-button" data-id="3">3</button>
    <button class="pagination-button" data-id="4">4</button>
    <button class="pagination-button" data-id="5">5</button>
    <span class="dots" id="next">...</span>
    <button class="pagination-button last-button">1000</button>
    <button class="pagination-button arrow-right">
    </button>
</div>
</div>