.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 40px 0;
  }

  @media screen and (min-width: 768px) {
    padding: 50px 0 60px 0;
  }
}

.pagination-button:not(:last-child),
.dots {
  margin-right: 10px;
  padding: 10px;
}

.pagination-button {
  padding: 0;
  background-color: white;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 12px;
}

.pagination-select {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #ff6b08;
  color: white;
}

.dots,
.first-button,
.last-button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
  stroke: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left {
  background-image: url(../img/arrow-left.svg);
}

.arrow-right {
  background-image: url(../img/arrow-right.svg);
}


.pagination-container.is-hidden {
  display: none;
}