.warning-notify {
  position: absolute;
  top: 155px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 1;
  @include transition(opacity);

  @include for-size(tablet) {
    text-align: center;
  }
}

.warning-notify__content {
  display: block;
  min-width: 280px;
  max-width: 280px;
  font: inherit;
  font-weight: 400;
  line-height: 1.14;
  font-size: 14px;
  color: $red-color;

  @include for-size(tablet) {
    text-align: center;
    min-width: 393px;
    max-width: 393px;
  }

  @include for-size(desktop) {
    min-width: none;
    max-width: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  opacity: 0;
  @include transition(opacity);
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
