.footer {
  background-color: #f7f7f7;
  text-align: center;
  min-width: 320px;

  @media screen and (max-width: 767px) {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.footer-text {
  color: #545454;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 14px;
  line-height: 1.172;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.171;
  }
}
.textfirst {
  display: block;

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}
